<div class="bottom-element">
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <mat-divider></mat-divider>
        <mat-toolbar-row>
            <span><i class="fas fa-rocket"></i> Space Application </span>
            <span class="spacer"></span>
            <div class="button-item">
                <button mat-raised-button color="accent" (click)="changeApp()"> Beta: Get Fancy App!! <Title></Title>
                </button>
                <span> Designed & developed by: &copy; Charusmita Shah </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>